<h1>Whats the day of the week?</h1>

<form action="/weekday/results" method="post">
  <label for="inputDay">Enter your word:</label>
  <input name="inputDay" class="form-control" id="inputDay">

  <label for="inputMonth">Enter your word:</label>
  <input name="inputMonth" class="form-control" id="inputMonth">

  <label for="inputYear">Enter your word:</label>
  <input name="inputYear" class="form-control" id="inputYear">
  <button type="submit" class="btn btn-success">Go.</button>
</form>
